@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #ffffff;
    --background: #091136;
    --primary: #1835b4;
    --secondary: #070f31;
    --accent: #1475d6;
}

body {
    color: var(--text);
    background-color: var(--background);
    overflow-x: hidden;
}
